header, h1, h2, footer {
    text-align: center;
}

header {
    font-weight: bold;
    font-size: 60px;
}

footer {
    font-style: italic;
    font-size: 15px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}